extends ../layouts/default
style(type='text/css').
	.slider {
		width: 50%;
		margin: 100px auto;
	}
	.slick-slide {
		margin: 0px 20px;
	}
	.slick-slide img {
		width: 100%;
	}
	.slick-prev, .slick-next {
		height: 15px;
		width: 15px;
		background-size: contain;
		background-repeat: no-repeat;

		/* to position the arrows left and right at the bottom of slider */
		position: absolute;
		z-index: 10;
		bottom: 0;
	}
	.slick-next {
		right: 0;
	}
	

//- block content
//- 	.container-fluid.home-image
//- 		.container
//- 			.tag-line Handcrafted<br/>for your home

//- 	.container.collections
//- 		.collection
//- 			a.collection-image.living(href="/store/living-room")
//- 				.tag-line Living

//- 		.collection
//- 			a.collection-image.kitchen(href="/store/kitchen")
//- 				.tag-line Kitchen
//- 		.collection
//- 			a.collection-image.bedding(href="/store/bedroom")
//- 				.tag-line Bedding

//- 	.container.content
//- 		.col-md-8.col-md-push-2
//- 			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

//- 	.container-fluid.home-banner-image
	

block header
	each banner in banners
		#header
			#carousel-example-generic.carousel.slide(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carousel-example-generic', data-slide-to='0')
					li(data-target='#carousel-example-generic', data-slide-to='1')
					li(data-target='#carousel-example-generic', data-slide-to='2')
				.carousel-inner(role='listbox')
					
					.item.active
						img(src= banner._.image1.fit(cover), alt='...')
						.carousel-caption.slide1
							.animated.bounceInDown
								h1 BUGGY
								h3 розумна машина
							p.animated.bounceInRight
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum at voluptatibus modi nihil fuga nostrum quidem. Eligendi esse hic itaque.
							a(href="/store").btn_store.animated.bounceIn КАТАЛОГ
					if banner.image2.exists
						.item.slide2
							img(src= banner._.image2.fit(cover), alt='...')
							.carousel-caption.slide2
								.animated.bounceInDown
									h1= banner.title2
									p.animated.bounceInRight!= banner.description2
								a(href="/store").btn_store.animated.bounceIn КАТАЛОГ
					if banner.image3.exists
						.item.slide3
							img(src= banner._.image3.fit(cover), alt='...')
							.carousel-caption.slide3
								.animated.bounceInDown
									h1= banner.title3
									p.animated.bounceInRight!= banner.description3
								a(href="/store").btn_store.animated.bounceIn КАТАЛОГ
				a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
					span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
					span.sr-only Previous
				a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
					span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
					span.sr-only Next
//- .header-container
//- .video-container
//- .filter
//- video.fillWidth(autoplay='', loop='')
//- source(src='youtube/mp4/50-Percent-Off.mp4', type='video/mp4')
//- | Your browser does not support the video tag. I suggest you upgrade your browser.
//- source(src='youtube/webm/50-Percent-Off.webm', type='video/webm')
//- | Your browser does not support the video tag. I suggest you upgrade your browser.
//- source(src='youtube/ogv/50-Percent-Off.ogv', type='video/ogg')
//- | Your browser does not support the video tag. I suggest you upgrade your browser.
//- .poster.hidden
//- img(src='yuotube/jpg/50-Percent-Off.jpg', alt='')

block content
	each banner in banners
		section#first
			.container.wall1
				p.graffiti1 about
				.row
					.col-md-12.text-right
						h2
							| _________ КОРОТКО ПРО НАШУ 
							span ДІЯЛЬНІСТЬ
			.container
				.row
					.col-md-5
						h3!= banner.about_title 
						p!= banner.about_brief
					.col-md-3
						h3
							| Наші 
							br
							| переваги
						ul
							li.ico
								img.ico1(src='/images/ico/ico1.png', alt='')
								| ЕКОЛОГІЧНО ЧИСТИЙ
							li.ico
								img.ico2(src='/images/ico/ico2.png', alt='')
								| ЕЛЕКТРОНІКА
							li.ico
								img.ico3(src='/images/ico/ico3.png', alt='')
								| КЕРУВАННЯ ЗІ СМАРТФОНА
					.col-md-4(style='padding-top: 60px;')
						#carousel-example-generic.carousel.slide(data-ride='carousel')
							// Indicators
							ol.carousel-indicators
								li.active(data-target='#carousel-example-generic', data-slide-to='0')
								li(data-target='#carousel-example-generic', data-slide-to='1')
								li(data-target='#carousel-example-generic', data-slide-to='2')
							// Wrapper for slides
							.carousel-inner
								if banner.about_image1.exists
									`mg(src= banner._.about_image1.fit(cover))
								if banner.about_image2.exists
									.item
										img(src= banner._.about_image2.fit(cover))
								if banner.about_image3.exists
									.item
										img(src= banner._.about_image2.fit(cover))
		section#second
			.container.wall2
				p.graffiti2 projects
				.row
					.col-md-12.text-left
						h2
							| НАШІ УНІКАЛЬНІ 
							span.yellow МОДЕЛІ
							|  _________
			.container
				.row.autoplay.slider
					each product in products
						.col-md-4.grid_wrap_prod 
							a(href='#')
								figure.effect
									img(src= product._.image.fit(cover), alt='...')
									figcaption
										h5 231 ДЕТАЛЕЙ
										h3 BAGGI МОДЕЛЬ 1

					//- .col-md-4.grid
					//- 	a(href='#')
					//- 		figure.effect
					//- 			img(src='/images/1.jpg', alt='...')
					//- 			figcaption
					//- 				h5 231 ДЕТАЛЕЙ
					//- 				h3 BAGGI МОДЕЛЬ 1
					//- .col-md-4.grid
					//- 	a(href='#')
					//- 		figure.effect
					//- 			img(src='/images/2.jpg', alt='...')
					//- 			figcaption
					//- 				h5 315 ДЕТАЛЕЙ
					//- 				h3 BAGGI МОДЕЛЬ 1
					//- .col-md-4.grid
					//- 	a(href='#')
					//- 		figure.effect
					//- 			img(src='/images/3.jpg', alt='...')
					//- 			figcaption
					//- 				h5 340 ДЕТАЛЕЙ
					//- 				h3 BAGGI МОДЕЛЬ 1
		section#third
			.container.wall3
				p.graffiti3 contact us
				.row
					.col-md-12.text-right
						h2
							| _________ ЯК НАС МОЖНА 
							span ЗНАЙТИ
			.container-fluid.contact_map
				#side_contact
					.form_content
						h2 Зв'язатися з нами 
						p +38(098)7654321 +38(098)7654321 <br/> ecobot@mail.com
						h2 Напишіть нам
						p Якшо у вас виникли питання ми з радістю допоможем вам
						form(method='post')
							input#fname(type='text', name='firstname', placeholder='Name')
							input#email(type='text', name='email', placeholder='Email')
							input#message(type='text', name='message', placeholder='Message')
							input(type='submit', value='НАДІСЛАТИ')
				#map_contact
					#map_ecobot
				#button
					#close
						img(src="/images/ico/left.png", alt="")
					#open
						img(src="/images/ico/right.png", alt="")

block js
	script(type="text/javascript").
		$('.single-item').slick();
		//- $(document).on('ready', function() {
		//- 	$('.autoplay1').slick({
		//- 		slidesToShow: 3,
		//- 		slidesToScroll: 1,
		//- 		autoplay: true,
		//- 		autoplaySpeed: 2000,
		//- 	});
		//- });
		$(document).on('ready', function() {
			$('.autoplay').slick({
				slidesToShow: 3,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 2000
			});
		});
	script(type="text/javascript").
		var main = function() { 

			$('#close').click(function() {
				$('#side_contact').animate({ 
					width: '-40%' 
				}, "slow"); 
				$('#map_contact').animate({ 
					width: '100%' 
				}, "slow");

				$('#button').animate({
					left: '0px'
				}, 300);
			});

			$('#open').click(function() {
				$('#side_contact').animate({ 
					width: '40%'
				}, "slow");
				$('#map_contact').animate({ 
					width: '60%'
				}, 300); 

				$('#button').animate({
					left: '40%'
				}, 300);
			});
			
			
		};
		$(document).ready(main);